<div id="homePage" ng-view>
  	<h1 class="cat">CATEGORIES</h1>
  	<div class="sad">
	 	<a href="#/fluids"><div class="grid"><div class="circle"><img src="images/fluids.gif"/></div><span class="caption">Fluids</span></div></a>
		<a href="#/ignition"><div class="grid"><div class="circle"><img src = "images/ignition.gif"/></div><span class="caption">Ignition</span></div></a> 
		<a href="#/brakes"><div class="grid"><div class="circle"><img src="images/brakes.gif"/></div><span class="caption">Brakes</span></div></a>
		<a href="#/miscellaneous"><div class="grid"><div class="circle"><img src="images/misc.gif"/></div><span class="caption">Misc</span></div></a>
	</div>
</div>
